
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

.header {
    background-color: black;
    height: 75px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    position: relative;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__button {
    background-color: transparent;
    border: none;
    padding: 10px 0 0 0;
}

.header__menu-list {
    display: flex;
    align-items: center;
}

.header__menu-item:not(:last-child) {
    margin: 0 33px 0 0;
}

.promo {
    height: 764px;
    display: flex;
}

.promo__img {
    width: 100%;
}

.promo__text {
    padding: 335px 0 0 64px;
    width: 100%;
    background: #F1E4E6;
    display: flex;
}

.promo__text-brand {
    padding-left: 16px;
}

.promo__text h2 {
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
}

.promo__text h3 {
    text-align: left;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}

.promo__text span {
    text-align: left;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #f16d7f;
}

.header__navigation {
    position: absolute;
    height: 764px;
    left: 1368px;
    top: 75px;
    border-radius: 0px;
    background-color: #FFFFFF;
    display: none;
}

.header__navigation-title {
    margin-top: 37px;
    text-transform: uppercase;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.header__navigation-item p{
    margin-top: 24px;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #F16D7F;
    text-transform: uppercase;
}

.header__navigation-sub-list {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #6F6E6E;
}

.header__navigation-sub-list li {
    margin-left: 17px;
    margin-top: 11px;
}



.category {
    margin: 63px;
    height: 470px;
}

.category_container {
    display: flex;
    justify-content: space-between;
}

.category__woman {
    width:360px;
    height: 260px;
    background-image: url(../img/Woman.png);
}

.category__woman h2 {
    padding-top: 105px;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.category__woman h3 {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #f16d7f;
}

.category__man {
    width:360px;
    height: 260px;
    background-image: url(../img/Man.png);
}

.category__man h2 {
    padding-top: 105px;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.category__man h3 {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #f16d7f;
}

.category__kids {
    width:360px;
    height: 260px;
    background-image: url(../img/Kids.png);
}

.category__kids h2 {
    padding-top: 105px;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.category__kids h3 {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #f16d7f;
}

.category__accesories {
    margin-top: 30px;
    width: 1140px;
    height: 180px;
    background-image: url(../img/Accesoreis.png);
}

.category__accesories  h2 {
    padding-top: 65px;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.category__accesories h3 {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #f16d7f;
}

.featured_items {
    margin-top: 97px;
}

.featured_items h3 {
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}

.featured_items h4 {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #9F9F9F;
}

.product-box {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
}

.product {
    width: 360px;
    margin-bottom: 30px;
    position: relative;
}

.product:hover {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16)
}

.product:hover .product__img {
    filter: brightness(40%);
}

.product:hover .product__add {
    display: flex;
}

.product__link {
    display: block;
    height: 420px;
    overflow: hidden;
}

.product__img {
    width: 100%;
}

.product__info {
    padding: 25px 18px;
    background: #F8F8F8;
}

.product__name {
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
}

.product__description {
    padding-top: 12px;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.product__price {
    padding-top: 18px;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #F16D7F;
}

.product__add {
    color: #ffffff;
    display: block;
    height: 39px;
    width: 123px;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    border: 1px solid #ffffff;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 188.5px;
    left: 111.5px;
}

.button-show {
    margin-top: 18.5px;
    display: flex;
    justify-content: center;
}

.button {
    color: #FFFFFF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    background-color: #f16d7f;
    padding-left: 19px;
    padding-right: 19px;    
    line-height: 38px;
}

.description {
    margin-top: 95.5px;
    height: 341px;
    background: #222224;
}

.description__all {
    display: flex;
    justify-content: space-between;
}

.description__part {
    width: 316px;
    height: 341px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description__small {
    padding-top: 28px;
    color: #FBFBFB;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.description__big {
    padding-top: 16px;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #FBFBFB;
}

.footer {
    background-image: url(../img/photo\ subscribe.png);
}

.footer__subscribe {
    height: 448px;
    display: flex;
}

.footer__subscribe-quotation {
    width: 800 px;
}

.subscribe-quotation-img {
    padding-top: 87px;
    padding-left: 110px;
}

.subscribe-quotation-text {
    padding-top: 23px;
    text-align: center;
    width: 360px;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 24px;
}

.subscribe-quotation-text p {
    display: inline;
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.footer__subscribe-text {
    margin-left: 323px;
}

.subscribe-text-descrip {
    padding-top: 145px;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
}

.subscribe-text-descrip p {
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}

.subscribe-text-input {
    display: flex;
}

.subscribe-text-input input{
    padding-left: 20px;
    border: none;
    margin-top: 18px;
    width: 235px;
    height: 49px;
    border-radius: 23px 0 0 23px;
    background-color: #e1e1e1;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.subscribe-text-input input:focus {
    outline-color: #f16d7f; 
}

.input-Btn {
    margin-top: 18px;
    border: none;
    color: white;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    width: 100px;
    height: 51px;
}

.footer__copyrights {
    height: 79px;
    background-color: #222224;
}

.copyrights {
    display: flex;
    justify-content: space-between;
}

.copyrights-Left {
    padding-top: 30px;
    color: #FBFBFB;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.copyrights-Right {
    width: 148px;
    height: 32px;
    padding-top: 24px;
}

.copy {
    display: flex;
    justify-content: space-between;
}

.copyrights-Right a {
    text-decoration: none;
    color: inherit;
 }
 
.copyrights-Right i {
    width: 32px;
    height: 32px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
 }

 .copyrights-Right i:hover {
    background: #F16D7F;
}