.featured_items {
    margin-top: 97px;

    h3 {
        font-family: inherit;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        @include font (30px,36px);
    }

    h4 {
        font-family: inherit;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        color: #9F9F9F;
        @include font (14px,17px);
    }
}
