.product-box {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;

    .product {
        width: 360px;
        margin-bottom: 30px;
        position: relative;
    }
    
    .product:hover {
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16)
    }
    
    .product:hover .product__img {
        filter: brightness(40%);
    }
    
    .product:hover .product__add {
        display: flex;
    }
    
    .product__link {
        display: block;
        height: 420px;
        overflow: hidden;
    }
    
    .product__img {
        width: 100%;
    }
    
    .product__info {
        padding: 25px 18px;
        background: #F8F8F8;
    }
    
    .product__name {
        font-family: inherit;
        font-style: normal;
        font-weight: 400;
        text-align: left;
        text-decoration: none;
        @include font (13px,16px);
    }
    
    .product__description {
        padding-top: 12px;
        font-family: inherit;
        font-style: normal;
        font-weight: 300;
        text-align: left;
        @include font (14px,17px);
    }
    
    .product__price {
        padding-top: 18px;
        font-family: inherit;
        font-style: normal;
        font-weight: 400;
        text-align: left;
        color: $pink-color;
        @include font (16px,19px);
    }
    
    .product__add {
        color: $white-color;
        display: block;
        height: 39px;
        width: 123px;
        font-family: inherit;
        font-style: normal;
        font-weight: 400;
        text-align: left;
        border: 1px solid $white-color;
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 188.5px;
        left: 111.5px;
        @include font (14px,17px);
    }
    
}

